@page "{handler?}"
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model AspNetCoreAzureStorage.Pages.ListFilesModel
@{
}

@if ((await AuthorizationService.AuthorizeAsync(User, "StorageBlobDataReaderPolicy")).Succeeded)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Uploaded by</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in Model.FileDescriptions)
            {
                <tr>
                    <th scope="row">@doc.Id</th>
                    <td>
                        <form asp-page="/ListFiles" asp-page-handler="DownloadFile" method="get">

                            <input type="hidden" asp-for="FileName" value="@doc.Name">
                            <input class="btn btn-link" type="submit" value="@doc.Name">
                        </form>
                    </td>
                    <td>@doc.Description</td>
                    <td>@doc.UploadedBy</td>
                </tr>
            }
        </tbody>
    </table>


}
else
{
    <p>User has not access role for blob storage</p>

}

